{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 110,
  "importOrder": [
    "^~/utils/(.*)$",
    "^~/contexts/(.*)$",
    "^~/constants/(.*)$",
    "^~/hooks/(.*)$",
    "^~/tests/(.*)$",
    "^~/(.*)$",
    "^[./]",
    "^@0xsequence/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}